.header {
    background-color: var(--color-header-background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

@font-face {
    font-family: 'Ananda';
    src: url('../assets/Ananda.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
