.card-title {
    font-size: 12px;
}

.limit-2-lines {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.story-info-popup {
    z-index: 1050;
}

.story-info-popup h6 {
    margin: 0 0 5px 0;
    font-size: 1rem;
}

.story-info-popup p {
    margin: 2px 0;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.card-img {
    max-width: 120px;
}

.story-chapter {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
