.card-body {
    padding: 5px !important;
}

.card-title {
    font-size: 12px;
}

.story-card {
    cursor: pointer;
}

.story-card:hover {
    transform: scale(1.03);
}

.story-info-popup {
    max-width: 500px;
    z-index: 1050;
}

.story-info-popup h6 {
    margin: 0 0 5px 0;
    font-size: 1rem;
}

.story-info-popup p {
    margin: 2px 0;
    font-size: 0.875rem;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: pre-line;
}

.card-img {
    max-width: 120px;
}
